%temp-border {
  border: solid 1px red;
}

%font-merriweather {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
}

%font-inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 50px;
  color: #FFF;
  text-decoration: none;
}

%null-padding-margin {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  @extend %null-padding-margin;
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.div-padding {
  padding: 0 20px;
}

a {
  @extend %font-inter-regular;
  transition: 0.3s;
}
a:hover {
  color: #BDAE82; 
}

button {
  cursor: pointer;
}

@keyframes menu-appear {
  0% {
    left: calc(100%);
  }
  100% {
    left: calc(14%);
  }
}

@keyframes blackout-appear {
  0% {
    background-color: rgba($color: #000000, $alpha: 0.0);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.blackout {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  animation: blackout-appear 0.8s;

  .menu-bg {
    width: calc(86%);
    height: 100%;
    left: calc(14%);
    background-color: rgba($color: #000, $alpha: 1.0);
    position: fixed;
    z-index: 2;
    animation: menu-appear 0.3s;

    .burger-menu-list {
      margin-top: 134px;
      margin-left: 90px;

      ul {
        list-style: none;
        margin-bottom: 50px;

        li {
          margin: 0 0 13px 0;
          padding: 0;

          a {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 34.8235px;
            line-height: 75px;
            color: #FFFFFF;
          }
          a:hover {
            color: #BDAE82; 
          }
        }
      }
    }
  }
}

header {
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-image: url('assets/img/bg.jpg');
  background-position: top;
  @extend %font-inter-regular;

  @media (max-width: 768px) {
    background-image: url('assets/img/bg-small.jpg');
  }

  nav {
    width: 500px;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    nav {
      display: none;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 11px;
  }

  .switch-lng {
    padding: 20px;
    margin: 0;
    font-weight: 700;
    width: 70px;
    display: flex;
    justify-content: space-between;

    span {
      display: inline-block;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .switch-lng {
      margin-left: auto;
    }
  }

  .switch-selected {
    color: #BDAE82
  }

  .logo {
    margin: 20px;
    height: 50px;
    width: 50px;

    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;

    @media (max-width: 768px) {
      margin-left: 60px;
    }

    @media (max-width: 600px) {
      margin-left: calc(100% / 7.5 - 20px);
    }
  }

  .hamburger {
    margin: 20px 64px 20px 10px;
    height: 50px;
    width: 50px;
    background-image: url('assets/svg/hamburger.svg');
    transition: 0.3s;

    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 600px) {
      margin-right: calc(100% / 7.5 - 20px);
    }
  }



  .logo:hover, .hamburger:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
}

main {
  margin: 0;
  padding: 0;
}

.hero {
  height: 660px;
  background-image: url('assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
  margin: 0;
  padding-top: 160px;
  padding-left: 80px;
  padding-bottom: 0px;

  @media (max-width: 768px) {
    height: 500px;
    padding-top: 55px;
    padding-left: 60px;
    background-image: url('assets/img/bg-small.jpg'); 
  }

  @media (max-width: 600px) {
    padding-top: 65px;
    padding-left: calc(100% / 7.5 - 20px);
  }
}

.hero-content {
  width: 490px;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    width: 390px;
  }

  @media (max-width: 600px) {
    width: calc(100% - 50px);
  }

  h1 {
    @extend %font-merriweather;
    color: #FFF;
    margin-top: 23px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-family: Merriweather;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 64px;
      color: #FFFFFF;
    }
  }

  p {
    @extend %font-inter-regular;
    margin-top: 35px;
    margin-bottom: 25px;
    line-height: 40px;

    @media (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 60px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

button {
  height: 55px;
  width: 220px;
  background-color: #BDAE82;
  border: none;
  color: #000;
  @extend %font-inter-regular;
  transition: 0.3s;
}

button:hover {
  color: #FFF;
}

.skills, .portfolio, 
  .video, .price, .contacts {
  padding: 0 20px;
}

.section-title {
  width: 50%;
  margin: 100px auto 60px auto;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);

  @media (max-width: 410px) {
    background-image: none;
    width: fit-content;
  }

  h2 {
    @extend %font-merriweather;
    width: fit-content;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    text-align: center;
  }

  @media (max-width:768px) {
    margin-top: 45px;
    margin-bottom: 65px;
    background-image: linear-gradient(to top, #000 19px, #bdae82 19px, #bdae82 21px, #000 21px);
    h2 {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.skills {
  // @media (max-width: 768px) {
  //   padding: 0;
  // }

  .skills-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    div {
      height: 240px;
      width: 320px;
      background-position: center top;
      background-repeat: no-repeat;
  
      p {
        @extend %font-inter-regular;
        text-align: center;
      }
  
      p:nth-child(1) {
        margin-top: 100px;
        padding: 0;
        font-weight: 700;
        line-height: 40px;
      }
  
      p:nth-child(2) {
        padding: 1px 20px;
        margin: 0;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
  
        color: #FFFFFF;
      }
    }
  
    div:nth-child(1) {
      background-image: url('assets/svg/skill-camera.svg');
    }
    div:nth-child(2) {
      background-image: url('assets/svg/skill-video.svg');
    }
    div:nth-child(3) {
      background-image: url('assets/svg/skill-image.svg');
    }
    div:nth-child(4) {
      background-image: url('assets/svg/skill-mic.svg');
    }

    @media (max-width: 1357px) {
      justify-content: space-around;
      padding: 0 20px 60px 20px;
      div {
        margin-bottom: 35px;
      }
    }
  
    @media (max-width: 768px) {
      div {
        height: 224px;
        width: 300px;
        margin-bottom: 35px;
  
        p:nth-child(1) {
          margin-top: 80px;
        }
  
        p:nth-child(2) {
          padding: 0 10px;
          line-height: 22px;
        }
      }
    }
  }
}

.portfolio {
  @media (max-width: 768px) {
    padding: 0;
  }

  .portfolio-controls {
    width: fit-content;
    margin: 0 auto;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  
    @media (max-width: 768px) {
      padding-top: 5px;
      width: 80%;
    }  
    
    button {
      border: solid 2px #BDAE82;
      background-color: transparent;
      color: #BDAE82;
      transition: 0.3s;
    }
    button:hover {
      color: #FFF;
    }
    .button-checked {
      background-color: #BDAE82;
      color: #000;
    }
    .button-checked:hover {
      color: #FFF;
    }
  }
  
  .portfolio-cards {
    margin: 60px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    height: fit-content;
  
    .portfolio-item {
      height: 560px;
      box-sizing: content-box;
  
      @media (max-width: 490px) {
        width: calc(100% - 40px);
        height: fit-content;
      }
  
      img {
        width: 100%;
      }
    }
  }
}

.video {
  @media (max-width: 768px) {
    padding: 0 0 55px 0;
  }
  height: fit-content;
}

.video-player {
  background-image: url(assets/img/video-player.jpg);
  background-position: center;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 705px;

  @media (max-width: 768px) {
    background-image: url(assets/img/video-player-small.jpg);
    margin: 70px 0 0 0;
    height: 418px;
  }

  button {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: transparent;
    background-image: url('assets/svg/play-button.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;

    @media (max-width: 768px) {
      background-image: url('assets/svg/play-btn-small.svg');
      width: 75px;
      height: 75px;
    }
  }
  button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transform: scale(1.2);
  }
}

.price {
  padding: 0;

  .price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
  
    @media (max-width: 768px) {
      margin-bottom: 80px;
      gap: 50px;
      padding: 5px 0 0 0;  
    }
  }
}

.price-card {
  border: solid #BDAE82 3px;
  box-sizing: border-box;
  width: 450px;
  height: 505px;

  @media (max-width: 768px) {
    width: 420px;
  }

  @media (max-width: 462px) {
    width: calc(100% - 40px);
  }

  h3 {
    @extend %font-merriweather;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 0;
    
    @media (max-width: 768px) {
      padding-top: 14px;
    }
  }

  div {
    @extend %font-merriweather;
    font-style: normal;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
    padding-top:0;
    padding-bottom: 20px;
    margin: 0;
  }

  span {
    display: block;
    @extend %null-padding-margin;
    @extend %font-inter-regular;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }

  button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.contacts {
  background-image: url('assets/img/contacts-bg.jpg');
  background-position: center;
  background-size: auto 100%;
  height: 700px;
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: 768px) {
    height: 600px;
    justify-content: center;
  }

  .contacts-container {
    width: 450px;
    padding-top: 30px;

    @media (max-width: 490px) {
      width: calc(100%);
    }

    @media (max-width: 768px) {
      padding-top: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h2 {
      text-align: left;
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 80px;
      color: #BDAE82;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 64px;
        text-align: center;
      }
    }
    input, textarea {
      display: block;
      border: solid #BDAE82 2px;
      box-sizing: border-box;
      background-color: rgba($color: #000, $alpha: 0.5);
      width: 100%;
      caret-color: #BDAE82;
      padding-left: 20px;
  
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 40px;
      color: #BDAE82;
    }
  
    input {    
      height: 50px;
      margin-bottom: 20px;
    }
  
    textarea {
      height: 100px;
      resize: none;
    }
  
    input::placeholder, textarea::placeholder {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 40px;
      color: #BDAE82;
    }
    input:focus, textarea:focus {
      outline: 0;
    }
  
    button {
      display: block;
      margin-top: 30px;
    }
  }
}

footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  padding: 0 20px;

  @media (max-width: 768px) {
    height: 190px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    line-height: 24px;
    a {
      line-height: 24px;
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
      padding: 0;
      margin: 20px 0 0 0;
    }
  }

  .rs-school {
    padding-left: 55px;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0 0 5px 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0 0 30px 0;
    }
  }

  li {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  li:nth-child(1) {
    background-image: url('assets/svg/inst.svg');
  }
  li:nth-child(2) {
    background-image: url('assets/svg/fb.svg');
  }
  li:nth-child(3) {
    background-image: url('assets/svg/tw.svg');
  }
  li:nth-child(4) {
    background-image: url('assets/svg/pinterest.svg');
  }
  li:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    cursor: pointer;
  }
}