%temp-border {
  border: solid 1px red;
}

%font-merriweather {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
}

%font-inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 50px;
  color: #FFF;
  text-decoration: none;
}

%null-padding-margin {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  @extend %null-padding-margin;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-image: url('assets/img/bg.png');
  @extend %font-inter-regular;

  nav {
    width: 500px;
    margin-left: auto;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 11px;
  }

  a {
    @extend %font-inter-regular;
    transition: 0.3s;
  }
  
  a:hover {
    color: #BDAE82; 
  }

  .switch-lng {
    padding: 20px;
    margin: 0;
    font-weight: 700;
    width: 70px;
    display: flex;
    justify-content: space-between;
  }

  .switch-selected {
    color: #BDAE82
  }
}

.logo {
  margin: 20px;
  height: 50px;
  width: 50px;

  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

main {
  margin: 0;
  padding: 0;
}

.section-hero {
  height: 660px;
  background-image: url('assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center -90px;
  margin: 0;
  padding-top: 160px;
  padding-left: 80px;
  padding-bottom: 0;
}

.hero-content {
  width: 490px;
  padding: 0;
  margin: 0;

  p {
    @extend %font-inter-regular;
    margin-top: 35px;
    margin-bottom: 25px;
    line-height: 40px;
  }
}

h1 {
  @extend %font-merriweather;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  height: 55px;
  width: 220px;
  background-color: #BDAE82;
  border: none;
  color: #000;
  @extend %font-inter-regular;
  transition: 0.3s;
}

button:hover {
  color: #FFF;
}

.section-skills, .section-portfolio, 
  .section-video, .section-price, .section-contacts {
  padding: 0 20px;
}

.section-title {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);

  h2 {
    @extend %font-merriweather;
    width: fit-content;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    text-align: center;
  }
}

.skills-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    @extend %null-padding-margin;


    height: 240px;
    width: 320px;
    background-position: center top;
    background-repeat: no-repeat;

    p {
      @extend %font-inter-regular;
      text-align: center;
    }

    p:nth-child(1) {
      margin-top: 100px;
      padding: 0;
      font-weight: 700;
      line-height: 40px;
    }

    p:nth-child(2) {
      padding: 1px 20px;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      /* or 200% */

      text-align: center;

      color: #FFFFFF;
    }
  }

  div:nth-child(1) {
    background-image: url('assets/svg/skill-camera.svg');
  }
  div:nth-child(2) {
    background-image: url('assets/svg/skill-video.svg');
  }
  div:nth-child(3) {
    background-image: url('assets/svg/skill-image.svg');
  }
  div:nth-child(4) {
    background-image: url('assets/svg/skill-mic.svg');
  }
}

.portfolio-controls {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
  button {
    border: solid 2px #BDAE82;
    background-color: transparent;
    color: #BDAE82;
    transition: 0.3s;
  }
  button:hover {
    color: #FFF;
  }
  .button-checked {
    background-color: #BDAE82;
    color: #000;
  }
  .button-checked:hover {
    color: #FFF;
  }
}

.portfolio-cards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: 1145px;

  div {
    height: 560px;
  }
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: transparent;
    background-image: url('assets/svg/play-button.svg');
    transition: 0.3s
  }
  button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}

.price-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.price-card {
  border: solid #BDAE82 3px;
  box-sizing: border-box;
  width: 450px;
  height: 505px;

  h3 {
    @extend %font-merriweather;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  div {
    @extend %font-merriweather;
    font-style: normal;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
    padding-top:0;
    padding-bottom: 20px;
    margin: 0;
  }

  span {
    display: block;
    @extend %null-padding-margin;
    @extend %font-inter-regular;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }

  button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.section-contacts {
  margin-top: 100px;
  background-image: url('assets/img/contacts-bg.png');
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
}

.contacts-container {
  width: 450px;
  padding-top: 30px;


  h2 {
    text-align: left;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 40px;
  }

  input {
    display: block;
    border: solid #BDAE82 2px;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }

  input::placeholder, textarea::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    padding-left: 15px;
  }

  textarea {
    display: block;
    border: solid #BDAE82 2px;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    height: 100px;
    resize: none;
  }

  button {
    display: block;
    margin-top: 30px;
  }
}

footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  padding: 0 20px;

  .copyright {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  .rs-school {
    padding-left: 55px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  li {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
  }
  li:nth-child(1) {
    background-image: url('assets/svg/inst.svg');
  }
  li:nth-child(2) {
    background-image: url('assets/svg/fb.svg');
  }
  li:nth-child(3) {
    background-image: url('assets/svg/tw.svg');
  }
  li:nth-child(4) {
    background-image: url('assets/svg/pinterest.svg');
  }
}